<nav>
  <div class="container-nav" style="background-color: #ccc ;">
    <a class="navbar-brand" href="/"> <img src="\logo_m_klein.jpg" alt="Logo" id="wappen"> <span id="wappentext">Kleintierpraxis Dr. Heike Möbius</span> </a>
    <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><i class="fa-solid fa-bars fa-beat" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075; --fa-animation-iteration-count: 5"></i></label>
      <div class="wrapper">
        <ul>
            {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL }}">
                <span>{{ .Name }}</span></a>
            </li>
            {{ end }}
        </ul>
      </div>
  </div>
</nav>

<!-- fas fa-bars-->
