/* basics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #eee;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 60px; /* bottom = footer height */
}
#bottom-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #ccc;
}

.container {
  display:flex;
  flex-direction:column;
  align-items: center;
  gap: 0.3rem;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #eee;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  #wappentext {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  #wappentext {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-nav {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #eee;
}
@media (min-width: 768px) {
  .container-nav {
    width: 750px;
    justify-content: center;
  }
  #wappentext {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .container-nav {
    width: 970px;
  }
  #wappentext {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .container-nav {
    width: 1170px;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

/* fonts */
a, p, span {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #387C44; 
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}

.titles {
  color: #387C44;
}

/* nav */

nav {
  background-color: #ccc;
}


.navbar-brand {
  display:flex;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#wappen {
  max-height: 60px;
}
#wappentext {
  font-family: 'Berkshire Swash', cursive;
  font-size: 1.3rem;
  padding-left: 1rem;
  vertical-align: sub;
	color: #387C44;
}

@media (min-width: 576px) {
  #wappentext {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  #wappentext {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  #wappentext {
    font-size: 2.5rem;
  }
}

.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, rgba(96,96,96,.95), rgba(64,64,64,.95));
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: fixed;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(-135deg, rgba(96,96,96,.95), rgba(64,64,64,.95));
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #fff;
  color: #4158d0;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.wrapper ul li{
  margin: 0px 0;
}
.wrapper ul li a{
  color: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  position: relative;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 30px;
  left: 0px;
  top: 15px;
  border-radius: 30px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #000;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}


.is-active {
  text-decoration: underline;
}

/*footer*/

#footer-image {
  max-height: 60px;
}

.footer-img {
  display: flex;
  justify-content: center;
}

/* Tagliste */
.tags li {
  display: inline;
  list-style-type: none;
  margin-right: 1rem;
}

.tags li a {
  color: #888;
}

.tags li a:hover {
  color: #000;
}
